<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="table">
    <div class="row">
        <div class="col-sm-12">

            <table class="table table-dark" align="center">
                <tr class="active">
                    <th>Employe List</th>
                </tr>
                <tr th:each="e : ${employeList}">
                    <td th:text="${e.getName()}"></td>
                    <td th:text="${e.getAccount()}"></td>
                    <!--<td th:text="${e.getLoan()}"></td>-->
                </tr>
            </table>

        </div>
    </div>
</div>

