<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <p  align="center">Welcome !</p>

    <p  align="center">
        <a href="/employeList" >Click Here and see employe list</a>
    </p>

    <form action = "/res">

        <label>Podaj zadłużenie : <br></label>

        <p>Podaj imię</p>
        <input type="text" name="name"><br>

        <p>Podaj ile kasy mu/jej Wisisz lub ile jesteś dłużny/a</p>
        <input type="number" name="loan"><br>

        <br> CHOOSE OPERATION:
        <br>
        <input type="submit" class="button" name="add" value="+">
        <input type="submit" class="button" name="subtraction" value="-">


    </form>

</head>
<body>

</body>
</html>