<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <p  align="center">Welcome !</p>

    <p  align="center">
        <a href="/employeList" >Click Here and see employe list</a>
    </p>

    <form action = "/exchange" th:object="${payload}" method="post" th:action="@{/exchange}" > <!--tu bedzie zawsze podkreslac, tym sie nie martw-->

        <label>Podaj zadłużenie : <br></label>

        <p>od kogo:</p>
        <input type="text" name="from"><br>

        <p>do kogo:</p>
        <input type="text" name="to"><br>

        <p>kwota:</p>
        <input type="number" name="value"><br>

        <input type="submit" class="button" name="subtraction" value="execute">

    </form>

</head>
<body>

</body>
</html>